div{
			position:absolute;
		}
		div.box1 {
			top:50px;
			left:70px;
	      	width: 200px;
			height: 100px;
	        background-color: aqua;}
		div.box2 {
			top: 190px;
			left: 210px ;
			width:100px;
			height: 200px;
			background-color: blueviolet;}
		div.box3 {
			top: 90px;
			left: 150px ;
			width: 100px;
			height: 200px;
			background-color: darkorange;}