  * {box-sizing: border-box;}
  
  h1{
      color:red;
  }
  footer{position: fixed;
    bottom: 0px;
    width: 40%;
    height: 80px;
    margin: 2em auto;
   }
  div{
      width:50px;
      height:50px;
   
       margin:0px auto;
  
  }
  div.icon{
       float: left;
       width:100px;
       height: 100px;
       margin-right:2em;
       text-align: center;
       color:brown;
  }
  div#facebook{
           background: url(../image/social.png) 150px 202px;}
  div#google{
           background: url(../image/social.png) 300px 152px;}
  div#twitter{
           background: url(../image/social.png) 250px 52px;}   
  div#instagram{
           background: url(../image/social.png) 450px 102px;}      