header{
    text-align: center;
    padding-bottom: 10px;
}
img{
    margin: 0px 40%;
}
p{
    margin: 1em 12em;
}
ul{width: 50%;
    min-width: 300px;
    margin: 2em auto;
	border: solid 3px blue;
	padding: 1em 3em;
}